<h1><%= t ".title" %></h1>
<p><%= t ".content" %></p>
<%= link_to t(".reset_password"), edit_password_reset_url(id: @user.reset_token, email: @user.email, locale: I18n.locale) %>
<p><%= t ".expiration" %></p>
<p><%= t ".ignore" %></p>
